*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  height: 100vh;
	width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);

  height: 100vh;
  color: #fff;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 100vh;

}

.cke_notification_warning{
  display: none !important;
}
.button{
  background: white;
  cursor: pointer;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;

}

.result{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}